@using Brigita.Queries.Menu;
@using Brigita.Infrastructure.Trees;
@model MenuModel

@helper Node2ListItems(SimpleTreeNode<MenuItemModel> node) {
    var item = node.Value;
    <li>
        <a href="@Url.MvcLink(item.Link)" class="@(item.IsActive ? "active" : null) @(item.IsActiveParent ? "activeParent" : null)">@item.Name</a>
    @if(node.Children.Any()) {
        <ul>
        @foreach(var childNode in node.Children) {
            @Node2ListItems(childNode);
        }
        </ul>
    }    
    </li>
}

<ul id="categoryMenu">
@foreach(var rootNode in Model.MenuItemTree.Roots) {
    @Node2ListItems(rootNode);
}
</ul>

